<template>
  <div>
    <section class="intro"/>
    <header-nav
      :nav-links="navLinks"
      @onNavMenuToggle="toggleMenu"/>
    <header-nav-menu
      :nav-links="navLinks"
      :display="displayMenu"
      @onClose="closeMenu"/>
    <div class="layout-admin container">
      <h1 class="admin-title">관리자 페이지</h1>
    </div>
    <nuxt/>
  </div>
</template>

<script>
import HeaderNav from '@/components/Navigation/HeaderNav'
import HeaderNavMenu from '@/components/Navigation/HeaderNavMenu'

export default {
  components: {
    HeaderNav,
    HeaderNavMenu
  },
  data() {
    return {
      displayMenu: false,
      navLinks: [
        { route: '/posts', text: '블로그' },
        { route: '/about', text: '서비스 소개' }
      ]
    }
  },
  methods: {
    toggleMenu() {
      this.displayMenu = !this.displayMenu
    },
    closeMenu() {
      this.displayMenu = false
    }
  }
}
</script>

<style lang="sass" scoped>
@import "~assets/styles/config"

.intro
  position: relative
  height: 200px
  margin-bottom: 20px
  padding: 30px
  background: darken($color, 40%) url("https://images.unsplash.com/photo-1590621819878-3fa04495626c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") center
  background-size: cover

.admin-title
  font-size: 24px
  margin-bottom: -1px
  // padding-left: 16px
  color: darken($point-color, 15%)
</style>
